site:
  title: IsyFact
  url: https://isyfact.github.io/
  start_page: isyfact-standards-doku:einstieg:einstieg.adoc
urls:
  latest_version_segment: current
  latest_prerelease_version_segment: dev
content:
  branches: []
  # Comment: Configuration for CI/CD-Pipeline (using the Git LFS workaround as described in the README)
  sources:
    - url: https://github.com/IsyFact/isy-documentation.git
      branches: master
      start_paths: [documentation-guide, glossary]
      lfs: true
      version:
        'master': 'latest'

    # isyfact-standards (manual checkout because of the Maven build)
    - url: ./isyfact-standards
      branches: master
      start_path: isyfact-standards-doc/src/docs/antora
      version: '5.x'
    - url: ./isyfact-standards-4.x
      branches: release/4.x
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'release/(*)': $1
    - url: ./isyfact-standards-4.2.0
      branches: HEAD
      start_path: isyfact-standards-doc/src/docs/antora
      version: 4.2.0
    - url: ./isyfact-standards-4.1.0
      branches: HEAD
      start_path: isyfact-standards-doc/src/docs/antora
      version: 4.1.0
    - url: ./isyfact-standards-4.0.0
      branches: doku/4.0.0
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'doku/(*)': $1
    - url: ./isyfact-standards-3.x
      branches: release/3.x
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'release/(*)': $1
    - url: ./isyfact-standards-3.3.0
      branches: HEAD
      start_path: isyfact-standards-doc/src/docs/antora
      version: 3.3.0
    - url: ./isyfact-standards-3.2.2
      branches: doku/3.2.2
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'doku/(*)': $1
    - url: ./isyfact-standards-3.1.2
      branches: doku/3.1.2
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'doku/(*)': $1
    - url: ./isyfact-standards-3.0.2
      branches: doku/3.0.2
      start_path: isyfact-standards-doc/src/docs/antora
      version:
        'doku/(*)': $1

    # reference implementation
    - url: https://github.com/IsyFact/isyfact-standards-referenzimplementierung.git
      branches: main
      start_path: isyfact-standards-referenzimplementierung-doc
      lfs: true

    # decoupled components
    - url: https://github.com/IsyFact/isy-angular-widgets.git
      branches: main
      start_path: docs
      lfs: true
      version:
        'main': '19.x'
    - url: https://github.com/IsyFact/isy-bedienkonzept.git
      branches: main
      start_path: isy-bedienkonzept-doc
      lfs: true
      version:
        'main': '1.x'
    - url: https://github.com/IsyFact/isy-datetime.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.x'
    - url: https://github.com/IsyFact/isy-datetime.git
      commits: f6a22a9b55524456df69514d41f836164622f147
      start_path: isy-datetime-doc
      lfs: true
      version: '4.0.0'
    - url: https://github.com/IsyFact/isy-polling.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-security.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-sonderzeichen.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.x'
    - url: https://github.com/IsyFact/isy-sonderzeichen.git
      commits: 013d697c4af90f01af21834b1f1cdfc2dc24a809
      start_path: isy-sonderzeichen-doc
      lfs: true
      version: '4.0.0'
    - url: https://github.com/IsyFact/isy-task.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-util.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-web.git # still needed as long as IsyFact 3 is published!
      branches: master
      start_path: isy-web-doc/src/docs/antora
      lfs: true
      version:
        'master': '6.3.0'

runtime:
  fetch: true
  log:
    level: info
    failure_level: fatal
asciidoc:
  attributes:
    page-component-order: 'isyfact-standards-doku, *, glossary, documentation-guide'
    page-toctitle: Inhalt
    sectnums: true
    sectnumlevels: 5
    caution-caption: Achtung@
    important-caption: Wichtig@
    note-caption: Hinweis@
    tip-caption: Tipp@
    warning-caption: Warnung@
    appendix-caption: Anhang
    example-caption: Beispiel
    figure-caption: Abbildung
    table-caption: Tabelle
    listing-caption: Listing
  extensions:
    - ./lib/remote-include-processor
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./antora-ui/supplemental-ui
antora:
  extensions:
    - require: '@opendevise/antora-git-lfs-extension'
    - require: '@antora/lunr-extension'
      languages: [en, de]
    - require: ./lib/antora-extension-rules.js
      excludefiles:
        - kopiervorlage
        - bearbeitung-antora
output:
  dir: ./docs
