site:
  title: IsyFact (Local)
  url: https://isyfact.github.io/
  start_page: isyfact-standards-doku:einstieg:einstieg.adoc

urls:
  latest_version_segment: current
  latest_prerelease_version_segment: dev
content:
  branches: []
  sources:
    # Please add your feature branches here.
    # Uncomment and duplicate the part below and set the paths accordingly.
    #- url: ../{path-to-your-repo}
    #  branches: HEAD
    #  start_path: {path-to-antora-yml-in-your-repo}
    #  version:
    #    'feature/(*)': $1
    - url: https://github.com/IsyFact/isy-documentation.git
      branches: master
      start_paths: [documentation-guide,glossary]
      lfs: true
      version:
        'master': 'latest'
      # Contains only active branches and latest versions
    - url: https://github.com/IsyFact/isyfact-standards.git
      branches: master
      start_path: isyfact-standards-doc/src/docs/antora
      lfs: true
      version:
        'master': '5.x'
    - url: https://github.com/IsyFact/isyfact-standards.git
      branches: release/4.x
      start_path: isyfact-standards-doc/src/docs/antora
      lfs: true
      version:
        'release/(*)': $1
    - url: https://github.com/IsyFact/isyfact-standards.git
      commits: 2d4fe269849d3be6f8c4196452c252108713fda0
      start_path: isyfact-standards-doc/src/docs/antora
      lfs: true
      version: '4.2.0'
    - url: https://github.com/IsyFact/isyfact-standards.git
      commits: ad257897ec0f4f31761430eb4b9b583f74455088
      start_path: isyfact-standards-doc/src/docs/antora
      lfs: true
      version: '3.3.0'
    - url: https://github.com/IsyFact/isyfact-standards-referenzimplementierung.git
      branches: main
      start_path: isyfact-standards-referenzimplementierung-doc
      lfs: true
    - url: https://github.com/IsyFact/isy-web.git
      branches: master
      start_path: isy-web-doc/src/docs/antora
      lfs: true
      version:
        'master': '6.3.0'
    - url: https://github.com/IsyFact/isy-angular-widgets.git
      branches: main
      start_path: docs
      lfs: true
      version:
        'main': '21.x'
    - url: https://github.com/IsyFact/isy-bedienkonzept.git
      branches: main
      start_path: isy-bedienkonzept-doc
      lfs: true
      version:
        'main': '1.x'
    - url: https://github.com/IsyFact/isy-datetime.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': 'next'
    - url: https://github.com/IsyFact/isy-datetime.git
      commits: f6a22a9b55524456df69514d41f836164622f147
      start_path: isy-datetime-doc
      lfs: true
      version: '4.0.0'
    - url: https://github.com/IsyFact/isy-polling.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-security.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-sonderzeichen.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': 'next'
    - url: https://github.com/IsyFact/isy-sonderzeichen.git
      commits: 013d697c4af90f01af21834b1f1cdfc2dc24a809
      start_path: isy-sonderzeichen-doc
      lfs: true
      version: '4.0.0'
    - url: https://github.com/IsyFact/isy-task.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
    - url: https://github.com/IsyFact/isy-util.git
      branches: develop
      start_path: docs
      lfs: true
      version:
        'develop': '5.0.0'
runtime:
  fetch: true
  log:
    level: info
    failure_level: fatal
asciidoc:
  attributes:
    page-component-order: 'isyfact-standards-doku, *, glossary, documentation-guide'
    page-toctitle: Inhalt
    sectnums: true
    sectnumlevels: 5
    caution-caption: Achtung@
    important-caption: Wichtig@
    note-caption: Hinweis@
    tip-caption: Tipp@
    warning-caption: Warnung@
    appendix-caption: Anhang
    example-caption: Beispiel
    figure-caption: Abbildung
    table-caption: Tabelle
    listing-caption: Listing
  extensions:
    - ./lib/remote-include-processor
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./antora-ui/supplemental-ui
antora:
  extensions:
    - require: '@opendevise/antora-git-lfs-extension'
    - require: '@antora/lunr-extension'
      languages: [en, de]
    - require: ./lib/antora-extension-rules.js
      excludefiles:
        - kopiervorlage
        - bearbeitung-antora
output:
  dir: ./docs
