
@media print {
    div.divFooter {
        position: fixed;
        bottom: 0;
        text-align: center;
    }
}

h1 { font-size: 2.125em; }
h2 { font-size: 1.6875em; }
h3 { font-size: 1.375em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

@media only screen and (min-width: 768px) {
    h1 { font-size: 2.75em; }
    h2 { font-size: 2.3125em; }
    h3 { font-size: 1.6875em; }
    h4 { font-size: 1.4375em; }
}

/* Underline beneath titles */
h1, h2, h3, h4, h5, h6 { border-bottom: 1px solid #dddddd; }

div.listingblock pre {
    white-space: pre-wrap;
    font-size: .75rem;
}

/* nicer table header */
table thead, table tfoot { background: #00417a linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); font-weight: bold; }
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td { padding: 0.5em 0.625em 0.625em; font-size: inherit; color: white; text-align: left; }

/* more readable table rows */
table tr.even, table tr.alt, table tr:nth-of-type(even) { background: #edf2f2; }
