<div class="footer">
    <div>
        <img src="{{{uiRootPath}}}/img/ifs-trademark.png" alt="Logo IsyFact-Standards" width="150">
    </div>
    <p>
        Diese Seite ist ein Teil der IsyFact-Standards. Alle Inhalte der Seite, insbesondere Texte und
        Grafiken, sind urheberrechtlich geschützt. Alle urheberrechtlichen Nutzungs- und Verwertungsrechte
        liegen beim Bundesverwaltungsamt.
    </p>
    <p>
        Die Nutzung ist unter den <a href="https://creativecommons.org/licenses/by/4.0/legalcode.de">Lizenzbedingungen</a>
        der <a href="https://creativecommons.org/licenses/by/4.0/deed.de">Creative Commons Namensnennung 4.0
        International<img style="height:20px!important;margin-left:3px;vertical-align:text-bottom;"
                          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""><img
                style="height:20px!important;margin-left:3px;vertical-align:text-bottom;"
                src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""></a> gestattet.</p>
</div>

