<footer class="footer">
    <div>
        <img class="if" src="{{{uiRootPath}}}/img/if-trademark.png" alt="Logo der IsyFact">
    </div>
    <p>
        Diese Seite ist ein Teil der IsyFact. Alle Inhalte der Seite, insbesondere Texte und
        Grafiken, sind urheberrechtlich geschützt. Alle urheberrechtlichen Nutzungs- und Verwertungsrechte
        liegen beim Bundesverwaltungsamt.
    </p>
    <p>
        Die Nutzung ist unter den
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode.de">Lizenzbedingungen</a>
        der
        <a href="https://creativecommons.org/licenses/by/4.0/deed.de">
            Creative Commons Namensnennung 4.0 International
            <img class="cc" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
                 aria-hidden="true">
            <img class="cc" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
                 aria-hidden="true">
        </a>
        gestattet.
    </p>
</footer>

