<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="{{{uiRootPath}}}/img/if-logo.dn.svg" alt="IsyFact-Logo" />
        <a href="http://isyfact.de" target="_blank">{{site.title}}</a>
        <span>//</span>
        <a href="{{{or site.url siteRootPath}}}">Online-Dokumentation</a>
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Doku durchsuchen"{{#if page.home}} autofocus{{/if}}>
          <label class="filter checkbox">
            <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> aktuelle Doku
          </label>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/IsyFact" target="_blank">Standards</a>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item"><strong>GitHub</strong></div>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isyfact-standards" target="_blank">IsyFact-Standards<small>isyfact-standards</small></a>
            <hr class="navbar-divider">
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-documentation" target="_blank">Übergreifende Inhalte<small>isy-documentation</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isyfact.github.io" target="_blank">Antora Playbook & Anpassungen<small>isyfact.github.io</small></a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/IsyFact" target="_blank">Bausteine</a>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item"><strong>GitHub</strong></div>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-angular-widgets" target="_blank">Angular<small>isy-angular-widgets</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-batchrahmen" target="_blank">Batch<small>isy-batchrahmen</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-bedienkonzept" target="_blank">Bedienkonzept<small>isy-bedienkonzept</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-datetime" target="_blank">Datum & Zeit<small>isy-datetime</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-polling" target="_blank">Polling<small>isy-polling</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-security" target="_blank">Security<small>isy-security</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-sonderzeichen" target="_blank">Sonderzeichen<small>isy-sonderzeichen</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-task" target="_blank">Task<small>isy-task</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-util" target="_blank">Util<small>isy-util</small></a>
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-ueberwachung" target="_blank">Überwachung<small>isy-ueberwachung</small></a>
            <hr class="navbar-divider">
            <a class="navbar-item has-label" href="https://github.com/IsyFact/isy-web" target="_blank">JSF 🚫<small>isy-web</small></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
