name: Build Documentation
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0' # every Sunday at 00:00
  workflow_dispatch:
    inputs:
      distinct_id:
        # Used by codex-/return-dispatch action from another workflow to keep track of the run. Manual runs using the UI do not require this input.
        description: 'The distinct id of the workflow run (optional)'
      log_level:
        description: 'Log level for the Antora build (debug, info, warn, error)'
      failure_level:
        description: 'Log failure level for the Antora build (fatal, error, warn, none)'
      pr_repo:
        description: 'If called by a pull request: repository the pull request belongs to'
      pr_branch:
        description: 'If called by a pull request: branch which should be merged'
      pr_target:
        description: 'If called by a pull request: branch which should be merged into'

jobs:
  Build:
    runs-on: ubuntu-latest
    env:
      MAVEN_CLI_OPTS: '--batch-mode --errors --fail-at-end -T 1C'
      called_by_pr: ${{ (github.event.inputs.pr_repo != '') && (github.event.inputs.pr_branch != '') && (github.event.inputs.pr_target != '') }}
      pr_changes_site: ${{ github.event.inputs.pr_repo == 'IsyFact/isyfact.github.io' }}

    steps:
      - name: Get distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}

      - name: Checkout
        if: env.pr_changes_site == 'false'
        uses: actions/checkout@v4

      - name: Checkout PR
        if: env.pr_changes_site == 'true'
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.inputs.pr_branch}}

      - name: Check if called by a PR
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false'
        run: |
          echo "::notice title=Initiating pull request build::${{github.event.inputs.pr_repo}} (${{github.event.inputs.pr_branch}} -> ${{github.event.inputs.pr_target}})"
          pr_content_source_name="${{ github.event.inputs.pr_repo }}"
          pr_content_source_name="${pr_content_source_name#*/}"  
          echo "pr_content_source=${pr_content_source_name}" >> $GITHUB_ENV

      - name: Check if PR target branch is part of the online documentation
        id: search-pr-target-branch
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false'
        uses: mikefarah/yq@master
        with:
          # if this command returns an empty result (outputs.result), the PRs target branch isn't part of the online documentation.
          cmd: yq '(.content.sources[] | select(.url == "./${{ env.pr_content_source }}*" and .branches == "${{ github.event.inputs.pr_target }}"))' 'antora-playbook.yml'
      - name: Check if PR content source is part of the online documentation
        # we need this for decoupled components (they only publish the latest tag, not the development branch)
        id: search-pr-content-source
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false' && steps.search-pr-target-branch.outputs.result == ''
        uses: mikefarah/yq@master
        with:
          # if this command returns an empty result (outputs.result), the PRs content source isn't part of the online documentation.
          cmd: yq '(.content.sources[] | select(.url == "./${{ env.pr_content_source }}"))' 'antora-playbook.yml'
      - name: Stop execution if PR target branch isn't part of the online documentation
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false' && steps.search-pr-target-branch.outputs.result == '' && steps.search-pr-content-source.outputs.result == ''
        run: |
          echo "::error file=antora-playbook.yml::PR target branch (${{ github.event.inputs.pr_target }}) and content source (${{ env.pr_content_source }}) aren't part of the online documentation"
          exit 1

      - name: Replace PR target branch with the PR branch
        id: replace-pr-target-branch
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false' && steps.search-pr-target-branch.outputs.result != ''
        uses: mikefarah/yq@master
        with:
          cmd: yq -i 'with(.content.sources[] | select(.url == "./${{ env.pr_content_source }}*" and .branches == "${{ github.event.inputs.pr_target }}"); .url = "./pull-request" | .branches = "HEAD" | .version = "PR" )' antora-playbook.yml
      - name: Replace PR content source with the PR branch
        id: replace-pr-content-source
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false' && steps.search-pr-content-source.outputs.result != ''
        uses: mikefarah/yq@master
        with:
          cmd: yq -i 'with(.content.sources[] | select(.url == "./${{ env.pr_content_source }}"); .url = "./pull-request" | .branches = "HEAD" | .version = "PR" )' antora-playbook.yml

      - name: Checkout PR source branch
        uses: actions/checkout@v4
        if: env.called_by_pr == 'true' && env.pr_changes_site == 'false'
        with:
          repository: ${{ github.event.inputs.pr_repo }}
          ref: ${{ github.event.inputs.pr_branch }}
          lfs: true
          path: pull-request

      # isyfact-standards: dev versions
      - name: Checkout isyfact-standards (master)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: master
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards
      - name: Checkout isyfact-standards (release/4.x)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: release/4.x
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-4.x
      - name: Checkout isyfact-standards (release/3.x)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: release/3.x
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-3.x

      # isyfact-standards: stable versions
      - name: Checkout isyfact-standards (Tag 4.1.0)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: 4.1.0
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-4.1.0
      - name: Checkout isyfact-standards (doku/4.0.0)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: doku/4.0.0
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-4.0.0
      - name: Checkout isyfact-standards (Tag 3.3.0)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: 3.3.0
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-3.3.0
      - name: Checkout isyfact-standards (release/3.2.2)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: doku/3.2.2
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-3.2.2
      - name: Checkout isyfact-standards (release/3.1.2)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: doku/3.1.2
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-3.1.2
      - name: Checkout isyfact-standards (doku/3.0.2)
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards
          ref: doku/3.0.2
          lfs: true
          sparse-checkout: isyfact-standards-doc/src/docs/antora
          path: isyfact-standards-3.0.2

      - name: Checkout isy-documentation
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-documentation
          ref: master
          lfs: true
          path: isy-documentation

      - name: Checkout isy-web # still needed as long as IsyFact 3 is published!
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-web
          ref: master
          lfs: true
          sparse-checkout: isy-web-doc/src/docs/antora
          path: isy-web

      - name: Checkout isy-angular-widgets
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-angular-widgets
          ref: main
          lfs: true
          sparse-checkout: docs
          path: isy-angular-widgets

      # fetch decoupled components
      - name: Fetch latest tags
        # fetch latest tags per component (fetch branch 'develop' if there are no tags)
        id: fetch-latest-tags
        run: |
          repos=("isy-datetime" "isy-polling" "isy-security" "isy-sonderzeichen" "isy-task" "isy-util")          
          
          for repo in "${repos[@]}"; do
            latest_tag=$(git ls-remote --tags https://github.com/IsyFact/$repo.git | grep -o 'refs/tags/[0-9]*\.[0-9]*\.[0-9]*$' | sort -V | tail -n1 | awk -F'/' '{print $3}')
          
            if [ -z "$latest_tag" ]; then
              latest_tag="develop"
            fi
          
            echo "$repo=$latest_tag" >> $GITHUB_OUTPUT
          done

      - name: Checkout isy-datetime
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-datetime
          ref: ${{ steps.fetch-latest-tags.outputs.isy-datetime }}
          lfs: true
          sparse-checkout: isy-datetime-doc
          path: isy-datetime

      - name: Checkout isy-polling
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-polling
          ref: ${{ steps.fetch-latest-tags.outputs.isy-polling }}
          lfs: true
          sparse-checkout: docs
          path: isy-polling

      - name: Checkout isy-security
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-security
          ref: ${{ steps.fetch-latest-tags.outputs.isy-security }}
          lfs: true
          sparse-checkout: docs
          path: isy-security

      - name: Checkout isy-sonderzeichen
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-sonderzeichen
          ref: ${{ steps.fetch-latest-tags.outputs.isy-sonderzeichen }}
          lfs: true
          sparse-checkout: isy-sonderzeichen-doc
          path: isy-sonderzeichen

      - name: Checkout isy-task
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-task
          ref: ${{ steps.fetch-latest-tags.outputs.isy-task }}
          lfs: true
          sparse-checkout: docs
          path: isy-task

      - name: Checkout isy-util
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-util
          ref: ${{ steps.fetch-latest-tags.outputs.isy-util }}
          lfs: true
          sparse-checkout: docs
          path: isy-util

      # fetch "wip" components (i.e. without an official release)
      - name: Checkout isy-bedienkonzept
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isy-bedienkonzept
          ref: main
          lfs: true
          sparse-checkout: isy-bedienkonzept-doc
          path: isy-bedienkonzept

      - name: Checkout isyfact-standards-referenzimplementierung
        uses: actions/checkout@v4
        with:
          repository: IsyFact/isyfact-standards-referenzimplementierung
          ref: main
          lfs: true
          sparse-checkout: isyfact-standards-referenzimplementierung-doc
          path: isyfact-standards-referenzimplementierung
          
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Generate Templates (master)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards/isyfact-standards-doc package
      - name: Generate Templates (release/4.x)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-4.x/isyfact-standards-doc package
      - name: Generate Templates (Tag 4.1.0)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-4.1.0/isyfact-standards-doc package
      - name: Generate Templates (doku/4.0.0)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-4.0.0/isyfact-standards-doc package
      - name: Generate Templates (release/3.x)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-3.x/isyfact-standards-doc package
      - name: Generate Templates (Tag 3.3.0)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-3.3.0/isyfact-standards-doc package
      - name: Generate Templates (doku/3.2.2)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-3.2.2/isyfact-standards-doc package
      - name: Generate Templates (doku/3.1.2)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-3.1.2/isyfact-standards-doc package
      - name: Generate Templates (doku/3.0.2)
        run: mvn $MAVEN_CLI_OPTS -f ./isyfact-standards-3.0.2/isyfact-standards-doc package
      - name: Generate Templates (pull request)
        if: env.called_by_pr == 'true' && github.event.inputs.pr_repo == 'IsyFact/isyfact-standards'
        run: mvn $MAVEN_CLI_OPTS -f ./pull-request/isyfact-standards-doc package

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      # @setup-node does not provide node_modules in cache
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-
          path: |
            **/node_modules
      - name: Install Dependencies
        run: npm ci
      - name: Build Documentation
        id: antora-build
        run: npx antora --log-format=json --log-level=${{ github.event.inputs.log_level || 'info' }} --log-failure-level=${{ github.event.inputs.failure_level || 'fatal' }} antora-playbook.yml > antora_output.log || echo "failed=true" >> $GITHUB_OUTPUT

      - name: Upload docs folder as pages artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        if: env.called_by_pr == 'false' && !steps.antora-build.outputs.failed
        with:
          path: docs
      - name: Upload docs folder as artifact for Link Checker
        uses: actions/upload-artifact@v4
        if: ${{ !steps.antora-build.outputs.failed }}
        with:
          name: docs
          path: docs
      - name: Upload Antora log for manual reviews and further analysis
        uses: actions/upload-artifact@v4
        with:
          name: antora-log
          path: antora_output.log
      - name: Mark workflow as failed if the Antora build failed
        if: steps.antora-build.outputs.failed == 'true'
        run: |
          echo "::error title=Antora build failed!
          cat antora-output.log
          exit 1

  Deploy:
    runs-on: ubuntu-latest
    needs: [Build]
    if: ${{ (github.event.inputs.pr_repo == '') || (github.event.inputs.pr_branch == '') || (github.event.inputs.pr_target == '') }}
    concurrency:
      group: gh-pages
      cancel-in-progress: false
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
